name: Release with .NET (Unity)

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read
  id-token: write

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Set version
        id: version
        run: |
          VERSION=$(echo ${{ github.ref }} | sed -e 's/refs\/tags\///' | sed -e 's/refs\/heads\///' | sed -e 's/\//-/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs:
      - setup
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Setup .NET tools
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: "8.0.x"

      - name: Restore NuGet dependencies
        run: |
          dotnet restore ./src/UdonAnalyzer.sln

      - name: Build
        run: |
          dotnet build ./src/UdonAnalyzer.sln --no-restore --configuration=Release

      - name: Copy Artifacts
        run: |
          mkdir -p ./dist
          cp ./src/Analyzers/bin/Release/netstandard2.0/NatsunekoLaboratory.UdonAnalyzer.Analyzers.dll ./dist/
          cp ./src/Analyzers/bin/Release/netstandard2.0/NatsunekoLaboratory.UdonAnalyzer.Analyzers.dll ./src/Unity/UdonAnalyzer/Assets/UdonAnalyzer/Analyzers/

      - uses: natsuneko-laboratory/create-unitypackage@bbb27c1e955b84b7063c1db9ff3430d40bc3e110 # v3.2.0
        with:
          files-glob: |
            ./src/Unity/UdonAnalyzer/Assets/UdonAnalyzer/**/*.*
          dest: dist/UdonAnalyzer-${{ needs.setup.outputs.version }}.unitypackage
          root: src/Unity/UdonAnalyzer/

      - uses: natsuneko-laboratory/create-vpmpackage@afd6b5e106f88d14b915c0c538c0315d83bba447 # v1.5.0
        with:
          packages: |
            src/Unity/UdonAnalyzer/Assets/UdonAnalyzer/package.json
          outputs: |
            dist/UdonAnalyzer-${{ needs.setup.outputs.version }}.zip

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: dist/*.unitypackage
          name: UnityPackages

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: artifacts
          path: ./dist

  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write
    needs:
      - setup
      - build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: ./dist

      - name: List artifacts
        id: items
        run: |
          ITEMS=$(find ./dist -type f -name "*.zip")
          echo -e "$ITEMS"

      - name: Publish release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: ${{ contains(needs.setup.outputs.version, 'alpha') || contains(needs.setup.outputs.version, 'beta') || contains(needs.setup.outputs.version, 'rc') }}
          generate_release_notes: true
          files: |
            ./dist/*/*.zip
            ./dist/*/*.unitypackage

      - name: Publish release (Remuria)
        uses: natsuneko-laboratory/publish-vpmpackage@a9b2894491e22bf0e21e959a7ca70f974476047e # v0.2.7
        if: startsWith(github.ref, 'refs/tags/')
        with:
          packages: |
            dist/UdonAnalyzer-${{ needs.setup.outputs.version }}.zip
